# Ignorar dependências do frontend
/banglejs-frontend/node_modules/
/banglejs-frontend/package-lock.json
/banglejs-frontend/.next/
/banglejs-frontend/.vscode/
/banglejs-frontend/.eslintcache
/banglejs-frontend/.parcel-cache
/banglejs-frontend/.cache
/banglejs-frontend/yarn-debug.log*

# Ignorar dependências do backend
/banglejs-backend/node_modules/
/banglejs-backend/package-lock.json
/banglejs-backend/.vscode/
/banglejs-backend/.npm/
/banglejs-backend/.eslintcache
/banglejs-backend/.cache
/banglejs-backend/yarn-debug.log*

# Ignorar arquivos de build
/dist
/build
/coverage

# Arquivos de log
*.log
npm-debug.log*
yarn-debug.log*
lerna-debug.log*
.pnpm-debug.log*

# Diretórios temporários
*.pid
*.seed
*.pid.lock

# Arquivos de cache do TypeScript
*.tsbuildinfo

# Arquivos de ambiente
.env
.env.local
.env.production
.env.development

# Ignorar arquivos gerados por ferramentas
.cache/
.parcel-cache/
.next
.nuxt
dist

# Ignorar dependências globais
**/node_modules/

# Arquivos de lock (evitar commit do lockfile, se não for necessário)
package-lock.json
yarn.lock

# Arquivos temporários do editor
.vscode/
.idea/

# Arquivos de cache e compilação de ferramentas
.eslintcache
.stylelintcache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

# Arquivos de backup
*.bak
*.swp
